@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #02010a;
}
.container {
  width: 90%;
  margin: 0 auto;
}
nav {
  position: sticky;
  top: 0;
  min-height: 8vh;
  background-color: #140152;
}
.nav-bar {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stroke1,
.stroke2,
.stroke3 {
  width: 1.5em;
  margin-bottom: 0.4em;
  border: 1px solid #fff;
}

.title-list {
  display: flex;
  list-style: none;
  gap: 2em;
}
.title-list a {
  text-decoration: none;
  color: #fff;
}
.search-box {
  padding: 1em 1.5em;
  border: none;
  border-radius: 2em;
}
.search-box:focus {
  outline: none;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.profile-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.5em;
}

#ongoing-series {
  margin-bottom: 4.5em;
}
section h4 {
  width: fit-content;
  margin-top: 18px;
  margin-bottom: 15px;
  padding: 1em;
  background: #140152;
  cursor: pointer;
  border-radius: 8px;
}
.card-container {
  display: flex;
  align-items: center;
  gap: 3.5em;
}
.card {
  width: 20%;
  height: 35vh;
  padding: 2em 1.5em;
  margin-bottom: 1em;
  background-color: #04052e;
  border-radius: 12px;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 80%;
  margin-bottom: 1em;
}
.card a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  text-align: center;
  text-shadow: 2px 2px #5b5253;
  background-color: #04052e;
}
footer a {
  text-decoration: none;
  color: #fff;
}
/* for search */
.filtered {
  display: none;
}

/* for nav hamburger-menu */
.toggle .stroke1 {
  transform: translate(15px, 5px) rotate(-45deg);
}
.toggle .stroke2 {
  opacity: 0;
}
.toggle .stroke3 {
  transform: translate(15px, -12px) rotate(45deg);
}
.nav-items {
  position: fixed;
  left: 0px;
  height: 92vh;
  top: 9vh;
  width: 20%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  background-color: #140152;
}
.user-info {
  padding: 0 2em;
}
.user-info img {
  width: 4em;
  margin-bottom: 1.5em;
  height: 4em;
  border-radius: 2em;
}
.user-info p {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
.user-info p + p {
  font-size: 0.8em;
  opacity: 0.8;
  margin-bottom: 2em;
}
.img-theme {
  display: flex;
  align-items: center;
  gap: 7em;
}
.theme {
  margin: 0;
}
.settings {
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  background-color: white;
  color: #04052e;
  text-align: center;
}
.settings ul {
  list-style: none;
}
.settings-list li {
  font-weight: 500;
}
.settings-list li + li {
  margin-top: 2em;
}
.settings-list li i {
  margin-right: 0.5em;
}
.settings button {
  display: inline-block;
  text-decoration: none;
  margin-top: 2em;
  color: #04052e;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  background-color: white;
}

.visible {
  display: flex;
}
