@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-dark: #02010a;
  --items-dark: #140152;
  --card-dark: #04052e;
  --bg-light: #eb627b;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: var(--bg-dark);
  /* background: url(images/signup3.jpg) no-repeat; */
  background-size: cover;
}

header {
  background-color: var(--bg-dark);
  box-shadow: -2px 5px 6px -2px #fff;
}
nav {
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  display: flex;
  text-shadow: 2px 2px #5b5253;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3em;
  cursor: pointer;
}
nav li {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid transparent;
}
nav li:hover {
  border-bottom: 1px solid #fff;
  /* box-shadow: 2px 6px 5px -3px #fff; */
}
header nav button {
  background-color: inherit;
  border: none;
}
header nav button a {
  font-size: 1rem;
  color: #fff;
  text-shadow: 2px 2px #5b5253;
  text-decoration: none;
}
.container {
  width: 40%;
  margin: 3% auto;
  padding: 1.5em;
  text-align: center;
  border-radius: 8px;
}
form h1 {
  /* margin-bottom: 1em;
  text-align: center;
  font-size: 2rem;
  color: rgb(192, 67, 127);

  text-shadow: -1px 2px 2px #d81ac5; */
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  /* text-shadow: 1px 1px #5b5253; */
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.input-group {
  margin: 1.2em auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.input-group input {
  padding: 1.2em;
  font-size: 1rem;
  color: var(--items-dark);
  border: none;
  border-radius: 0.5em;
  box-shadow: 2px 6px 5px -3px #fff;
}
input:focus {
  outline: none;
}

.btn {
  padding: 1em 2.5em;
  margin-top: 1.5em;
  color: #fff;
  font-size: 1rem;
  background-color: inherit;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 6px 6px 19px -5px #fff;
}
.btn:hover {
  background-color: #06031c;
}
form a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

footer {
  position: fixed;
  bottom: 1em;
  width: 100%;
  font-size: 0.8em;
  padding-top: 0.3em;
  text-align: center;
  text-shadow: 2px 2px #5b5253;
  box-shadow: 2px -5px 6px -2px #fff;
  background-color: var(--bg-dark);
}
footer a {
  text-decoration: none;
  color: #fff;
}
